.container {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 18px 0 rgba(0,0,0,0.07);
  padding: 40px 36px 25px 36px;
  max-width: 900px;
}

h4 {
  color: #265fa3;
  font-weight: 700;
}

.form-label {
  font-weight: 500;
  color: #1b3157;
}

.btn {
  min-width: 100px;
}
